%section.form
  = form_tag create_session_path do
    .email
      = label_tag :email
      = text_field_tag :email
    .password
      = label_tag :password
      = password_field_tag :password
    = submit_tag "Log in"
    %p
      = link_to "Need to create an account?", signup_user_path
