%h1 Sign Up
= form_for @user, :url => { :action => :create, :type => @type }  do |f|
  - if @user.errors.any?
    .error-explanation
      %h2= pluralize(@user.errors.count, "error") + " prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .email
    = f.label :email
    = f.text_field :email
  .password
    = f.label :password
    = f.password_field :password
  .password_confirmation
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  = f.submit user_signup_message, :id => "new-user-submit"
