%h1 Sign Up
= form_for Church.new do |f|
  .email
    = f.label :email
    = f.text_field :email
  .password
    = f.label :password
    = f.password_field :password
  .password_confirmation
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  = f.submit "Sign Up"
