%section.hero
  .hero-inner
    %a.hero-logo{:href => ""}
      -#%img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png\r\n"}/
    .hero-copy
      %h1 We are Sozogo
      %p SozoGo is a website that seeks to unite the Church in love and action by giving you the opportunity to volunteer and make a difference.
    - unless @user
      = button_to 'Sign Up', {:controller => "home", :action => "signup"}, :method => :get
%section.grid-items
  %a.grid-item{:href => "#{about_path}"}
    = image_tag("eye_lg.png")
    %h1 About
  - if @user && @user.organization? 
    %a.grid-item{:href => "#{new_project_path}"}
      = image_tag("calendar_lg.png")
      %h1 Add Project
  - else
    %a.grid-item{:href => "#{projects_path}"}
      = image_tag("heart_lg.png")
      %h1 Get Involved
  %a.grid-item{:href => "#"}
    = image_tag("banknote_lg.png")
    %h1 Donate
  
  %a.more-info{:href => "javascript:void(0)"}
    %h1 How to help
    %p We all have unique skills and personalities, something unmatchable, unshakable, something that makes us...well, us. Here, we are seeking to create an opportunity for everyone to use their skills to make this world a better and brighter place for everyone. Get involved today!
    %h1 Need Volunteers?
    %p One can push back 1,000, but two people can push back 10,000. When we allow ourselves to work side by side with others who may be different than us, we become more powerful than we could ever be alone. We find ourselves creating a future we can be proud of. Sign your Church or Christian entity up to reap the benefits of effective workers who can help bring your biggest plans to reality.
    %h1 Who can Volunteer?
    %p There are opportunities for everyone, young and old. That feeling you get after you serve someone else is so rewarding, leaving knowing you made a difference. We had 10,000 people volunteer last year, will you be one? Plus, receive actual rewards and coupons for volunteering.
