- if logged_in? && current_user.volunteer?
  #action-form
    - if current_user.signed_up?(@project)
      = render 'cancel', :project => @project
    - else
      = render 'signup', :project => @project
- elsif logged_in? && ( current_user.id == @project.user.id )
  #action-form
    = link_to "Edit", edit_project_path(@project), class: "button upper-right"
    = link_to "Delete", { action: :destroy, id: @project.id }, class: "button upper-right", method: :delete, data: { confirm: "Are you sure you want to delete #{@project.title}?" }
- else
  #action-form
    = link_to "Sign me up!", new_volunteer_path(project: @project.id), class: "button"
    
