= link_to project_path(project), class: "project" do
  .project-title.title= project.title
  .project-date-time
    %span= project.start_date.strftime("%b %d %Y")
    %span= "(" + project.display_duration + ")"
  .project-organization-name= project.user.organization_name
  .project-description= truncate(project.description, length: 100)
  .project-volunteer-meter
    .title 10% fulfilled
    .progress-bar
      %span.meter{style: "width: #{project.percentage_fulfilled}%;"}
