- if @project.user == current_user && @project.signups.present?
  %h3.center Volunteers
  %table.tables
    %thead
      %tr
        %th Name
        %th Email
        %th Occupation
        %th Phone
        %th Age
        %th T shirt size
    %tbody
      - @project.signups.each do |signup|
        %tr
          %td= signup.user.full_name
          %td= signup.user.email
          %td= signup.user.profession.name if signup.user.profession
          %td= signup.user.phone_number
          %td= signup.user.age if signup.user.birthday
          %td= signup.user.shirt_size
