%section.form
  = form_for @project do |f|
    .title
      = f.label :title
      = f.text_field :title
    .date
      = f.label "Start Date"
      .month.inline= f.select(:month, ('01'..'12').to_a)
      .day.inline= f.select(:day, ('01'..'31').to_a)
      .year.inline= f.select(:year, ((Time.now.year)..Time.now.year + 5).to_a)
    .description
      = f.label :description
      = f.text_area :description, rows: 10
      = f.label :number_of_volunteers_needed
    .volunteers-needed
      = f.text_field :number_of_volunteers_needed, class: "small-input"
        
    = f.submit "Create Project"
