%section.form
  = form_for @project do |f|
    .title
      = f.label :title
      = f.text_field :title
    .description
      = f.label :description
      = f.text_area :description, rows: 10
    = f.submit "Create Project"
