%h1 New Project
= form_for @project do |f|
  .title
    = f.label :title
    = f.text_field :title
  .description
    = f.label :description
    = f.text_area :description
  = f.submit "Create Project"
