%h1 Sign Up
= form_for @user, :url => { :action => :create, :type => @type } do |f|
  - if @user.errors.any?
    .error-explanation
      %h2= pluralize(@user.errors.count, "error") + " prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .first-name
      = f.label :first_name
      = f.text_field :first_name
    .last-name
      = f.label :last_name
      = f.text_field :last_name
  .row
    .city
      = f.label :city
      = f.text_field :city
    .state
      = f.label :state
      = f.select(:state, us_states)
  .zipcode
    = f.label :zipcode
    = f.text_field :zipcode
    
  .email.clear
    = f.label :email
    = f.text_field :email
  .row
    .languages-container#languages
      = f.label "Langauges"
      = collection_select(:volunteer, :language_ids, Language.all, :id, :name, {}, { :multiple => true })
    .focuses-container#focuses
      = f.label "Interests"
      = collection_select(:volunteer, :focus_ids, Focus.all, :id, :name, {}, { :multiple => true })
  .professions.clear
    = f.label "Profession"
    = collection_select(:volunteer, :profession_id, Profession.all, :id, :name)
  .birthday
    = f.label "Birthday"
    .month.inline= f.select(:birth_month, months_array)
    .day.inline= f.select(:birth_day, days_array )
    .year.inline= f.select(:birth_year, previous_hundred_years)
  .row
    .password
      = f.label :password
      = f.password_field :password
    .password-confirmation
      = f.label :password_confirmation
      = f.password_field :password_confirmation
  .signup.clear
    = f.submit user_signup_message, :id => "new-user-submit", :class => "clear"
