%header.centered-navigation
  .centered-navigation-wrapper
    %a.mobile-logo{:href => "javascript:void(0)"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %a.centered-navigation-menu-button{:href => ""} MENU
    %ul.centered-navigation-menu
      %li.nav-link
        = link_to "Projects", projects_path
      %li.nav-link
        = link_to "About", about_path
      %li.nav-link.logo
        %a.logo{:href => "/"}
          %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
      - if logged_in?
        %li.nav-link
          = link_to "Log Out", destroy_session_path
        - if current_user.organization?
          %li.nav-link
            = link_to "Add Project", new_project_path
      - else
        %li.nav-link
          = link_to "Donate", '#'
        %li.nav-link
          = link_to "Log In", new_session_path
